---
import Layout from '../../layouts/Layout.astro';
import { WorkoutSession } from '@/components/dashboard/WorkoutSession';
---

<Layout title="Entrenamiento en Vivo | Ctrl + Fit" noPadding={true}>
	<div class="container mx-auto px-4 pb-8 max-w-4xl">
		<WorkoutSession client:only="react" />
	</div>
</Layout>
