---
import Layout from '../../layouts/Layout.astro';
import { UpdatePasswordForm } from '@/components/UpdatePasswordForm';
---

<Layout title="Actualizar Contraseña | Ctrl + Fit">
	<main class="min-h-[80vh] flex items-center justify-center">
		<UpdatePasswordForm client:load />
	</main>
</Layout>
